.f-lgt {
    font-family: "Poppins", sans-serif;
    font-weight: 200;
    font-style: normal;
  }
  
  .f-reg {
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-style: normal;
  }
  *{
    padding: 0;
    margin: 0;
    font-family: "Poppins", sans-serif;
    
  }
.hi100{
    height: 100%;
}
.jkul{
    li:hover{
        text-decoration: underline;
        color: blue;
    }
}
body{
  overflow-x: hidden;
}
.jklogo{
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}
.menubox{
  background-color: rgb(211, 211, 211);
  width: 100vw;
  height: 100vh;
  position: relative;
  transition: all 0.5s;
  translate: -100%;
  display: grid;
  place-items: center;
  display: none;
  .box{
    width: 80%;
    height: 50%;
    background-color: rgb(190, 189, 189);
    border-radius: 1vmin;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: space-evenly;
    a{
      text-decoration: none;
      color: black;
      width: 100%;
      display: grid;
      place-items: center;
    }
    a:hover{
      background-color: white;
    }
  }
}
.menu-toggle{
  translate: 0%;
  display: grid;
}
#header-jk{
  height:  max-content;
  position: sticky;
  top: 0;
  z-index: 3;
}
#jk-header-ji{
  height: 18vmin;
  background-color: #fff;
}
@media screen and (min-width : 568px) {
  #jk-header-ji{
    height: 10vmin;
  }
  .menu-toggle{
    display: none;
  }
}
//for ---- tab le
.jk-table{
  tr,td,th{
    border: 1px solid rgb(210, 210, 210);
    padding: 12px;
  }
  th{
    background-color: rgb(110, 187, 249);
  }
}

//==============================fqa

.accordion {
    display: flex;
    flex-direction: column;
    font-family: "Sora", sans-serif;
    max-width: 991px;
    min-width: 320px;
    margin: 50px auto;
    padding: 0 50px;
}
.accordion h1 {
    font-size: 32px;
    text-align: center;
}
.accordion-item {
    margin-top: 16px;
    border: 1px solid #fcfcfc;
    border-radius: 6px;
    background: #ffffff;
    box-shadow: rgba(0, 0, 0, 0.05) 0px 1px 2px 0px;
}
.accordion-item .accordion-item-title {
    position: relative;
    margin: 0;
    display: flex;
    width: 100%;
    font-size: 15px;
    cursor: pointer;
    justify-content: space-between;
    flex-direction: row-reverse;
    padding: 14px 20px;
    box-sizing: border-box;
    align-items: center;
}
.accordion-item .accordion-item-desc {
    display: none;
    font-size: 14px;
    line-height: 22px;
    font-weight: 300;
    color: #444;
    border-top: 1px dashed #ddd;
    padding: 10px 20px 20px;
    box-sizing: border-box;
}
.accordion-item input[type="checkbox"] {
    position: absolute;
    height: 0;
    width: 0;
    opacity: 0;
}
.accordion-item input[type="checkbox"]:checked ~ .accordion-item-desc {
    display: block;
}
.accordion-item
    input[type="checkbox"]:checked
    ~ .accordion-item-title
    .icon:after {
    content: "-";
    font-size: 20px;
}
.accordion-item input[type="checkbox"] ~ .accordion-item-title .icon:after {
    content: "+";
    font-size: 20px;
}
.accordion-item:first-child {
    margin-top: 0;
}
.accordion-item .icon {
    margin-left: 14px;
}

@media screen and (max-width: 767px) {
    .accordion {
        padding: 0 16px;
    }
    .accordion h1 {
        font-size: 22px;
    }
}
//===========================

* {
  margin: 0;
  padding: 0;
  font-family: 'Poppins', sans-serif;
}

.hero {
  height: auto;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}

h1 {
  font-size: 40px;
  margin-bottom: 100px;
  margin-top: -100px;
}

.social-links {
  display: flex;
  align-items: center;
  justify-content:space-evenly;
}

.social-links a {
  width: 40px;
  height: 40px;
  text-align: center;
  text-decoration: none;
  color: #000;
  box-shadow: 0 0 20px 10px rgba(0, 0, 0, 0.05);
  margin: 0;
  border-radius: 50%;
  position: relative;
  overflow: hidden;
  transition: transform 0.5s;
  display: flex;
  align-items: center;
  justify-content:center;
  border: 1px;
}

.social-links a .fab {
  font-size: 30px;
  line-height: 80px;
  position: relative;
  z-index: 10;
  transition: color 0.5s;
}

.social-links a::after {
  content: '';
  width: 100%;
  height: 100%;
  top: -90px;
  left: 0;
  background: #000;
  background: linear-gradient(-45deg, #ed1c94, #ffec17);
  position: absolute;
  transition: 0.5s;
}

.social-links a:hover::after {
  top: 0;
}

.social-links a:hover .fab {
  color: #fff;
}

.social-links a:hover {
  transform: translateY(-10px);
}
